@use 'components/shared/styles/mixins' as *;

.layout {
    display: flex;
    flex-direction: column;

    height: 100vh;
    height: 100dvh;
    min-height: 0;
    overflow: hidden;

    .deriv-header {
        flex: 0 0 auto;
        background: var(--general-main-1);
        height: 5.6rem;
    }

    &.quick-strategy-active {
        .deriv-header {
            @include mobile-or-tablet-screen {
                z-index: 10000;
            }
        }
    }
}
