
.follower-connect {

    max-width:520px;

    margin:60px auto;

    background:#11161d;

    border:1px solid #202832;

    border-radius:18px;

    padding:35px;

    color:#e6edf3;

}


.follower-connect h1 {

    font-size:30px;

    font-weight:800;

    margin-bottom:10px;

}


.follower-connect p {

    color:#8b98a8;

    margin-bottom:25px;

}


.follower-connect input {

    width:100%;

    background:#080b10;

    border:1px solid #202832;

    border-radius:12px;

    padding:16px;

    color:white;

    font-size:15px;

    margin-bottom:20px;

    box-sizing:border-box;

}


.client-register-btn {

    width:100%;

    background:#00c896;

    color:#000;

    border:none;

    padding:16px;

    border-radius:12px;

    font-size:15px;

    font-weight:800;

    cursor:pointer;

}


.client-register-btn:hover {

    opacity:.9;

}