.d-circles{

display:flex;
gap:14px;
flex-wrap:wrap;
padding:20px;

}


.digit-circle{

width:65px;
height:65px;

border-radius:50%;

background:
linear-gradient(
145deg,
#1f2937,
#111827
);

display:flex;
flex-direction:column;

align-items:center;
justify-content:center;

color:white;

font-weight:900;

box-shadow:
0 5px 20px rgba(0,0,0,.35);

transition:.3s;

}


.digit-circle:hover{

transform:scale(1.1);

}


.digit-number{

font-size:24px;

}


.digit-count{

font-size:12px;

opacity:.7;

}



.digit-circle.active{

background:
linear-gradient(
145deg,
#00e5ff,
#0077ff
);

box-shadow:
0 0 25px #00e5ff;

}