.analysis-page{

padding:20px;

}


.circles{

display:flex;
gap:15px;
flex-wrap:wrap;

}


.circle{

width:70px;
height:70px;

border-radius:50%;

background:#1f1f1f;

display:flex;
flex-direction:column;

align-items:center;
justify-content:center;

font-size:25px;

}


.circle span{

font-size:12px;

}



.circle.hot{

box-shadow:
0 0 20px #00ff99;

}



.history{

display:flex;
gap:8px;
flex-wrap:wrap;

}



.history span{

width:35px;
height:35px;

border-radius:50%;

background:#333;

display:flex;
align-items:center;
justify-content:center;

}